/* Utilities */
@import "./utilities/variables";
@import "./utilities/mixins";
@import "./utilities/extends";

/* Layout */
@import "./layout/header";
@import "./layout/section";
@import "./layout/footer";
@import "./layout/main";

/* Media Queries */
@import "./media/media";

/* Components */
@import "./components/buttons";
@import "./components/cards";

/* ===== Reset y variables: sin cambios ===== */
* {
    font-family: "Merriweather", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $background-color;
}


/* ===== Estilos generales ===== */
a {
    text-decoration: none;
    color: $colornegro;
}

.custom-list {
    display: flex;
    gap: 2rem;
    align-items: center;
}

/* Navbar */
.navbar.navbar-expand-lg {
    background-color: $background-color;
}

.nav-link {
    color: $colornegro;
}

.container-fluid {
    padding: 0.5rem 1rem;
}

.navbar-brand img {
    width: 7rem;
}




