/* Responsive */

@media (max-width: 1024px) {
    .container-fluid {
        padding: 9.6px 32px;
    }
    .cards-container {
        gap: 2rem;
        padding: 3rem;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding: 0.6rem 4rem;
    }
}

@media (max-width: 992px) {
    .h1-header {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    .p-header {
        font-size: 1rem;
        max-width: 100%;
    }
    .cards-container {
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }
    .navbar-brand img {
        width: 6rem;
    }
}

@media (max-width: 768px) {
    .h1-header {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }
    .p-header {
        font-size: 1rem;
        max-width: 100%;
    }
    .cards-container {
        flex-direction: column;
        gap: 3rem;
        padding: 2rem;
    }
    .navbar-brand img {
        width: 6rem;
    }
    .loc-section {
    grid-template-columns: 1fr;

    &__info {
      padding: 2rem;
    }

    &__map iframe {
      min-height: 250px;
    }
  }
}

@media (max-width: 576px) {
    .h1-header {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }
    .p-header {
        font-size: 0.9rem;
    }
    .card-img-top {
        height: 180px;
    }
    .navbar-brand img {
        width: 5rem;
    }
    .header-btn.learn,
    .header-btn.book,
    .bookroom {
        width: 100%;
        font-size: 0.9rem;
        padding: 0.5rem;
        margin-bottom: 1rem;
    }
}

@media (max-width: 576px){
    .hero-buttons{
        flex-direction: column;
        align-items: stretch;
        gap: 0.8rem;
    }

    .hero-buttons button{
        width: 100%;
    }
}

@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1.5rem;
    background-position: top center;
    background-size: 90px;
    margin-top: 2rem;
  }

  .footer-p {
    text-align: center;
  }
}
